streamlit
pdfplumber
spacy>=3.0.0

# Modèle français medium - syntaxe CORRECTE pour l'installation directe
fr-core-news-md @ https://github.com/explosion/spacy-models/releases/download/fr_core_news_md-3.8.0/fr_core_news_md-3.8.0-py3-none-any.whl
